.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
}

button {
  padding: 15px;
  margin: 20px;
  font-size: 30px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;

  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.8;
}
